﻿@model PagedList.IPagedList<mailNiftymebis.Entities.Child>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "MBSend";
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
}

<div id="content-container">
    <div id="page-head">
    </div>
    <div id="page-content">

        <div class="panel">
            <div class="panel-body">
                <div class="fixed-fluid">
                    <div class="fixed-sm-200 pull-sm-left fixed-right-border">

                        <div class="pad-btm bord-btm">
                            <a href="~/MailCompose/MailCompose" class="btn btn-block btn-success">Compose Mail</a>
                        </div>

                        <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">Folders</p>
                        <div class="list-group bg-trans pad-btm bord-btm">
                            <a href="~/MBInbox/MBInbox" class="list-group-item ">
                                <i class="demo-pli-mail-unread icon-lg icon-fw"></i> Inbox (@ViewBag.readCount)
                            </a>
                            <a href="~/MBSend/MBSend" class="list-group-item mail-nav-unread">
                                <i class="demo-pli-mail-send icon-lg icon-fw"></i> Send
                            </a>
                        </div>
                    </div>
                    <div class="fluid" id="container-animation">
                        <div id="demo-email-list">
                            <div id="kutucuklar">
                                <div class="row">
                                    <div class="col-sm-7 toolbar-left">

                                        <div class="btn-group">
                                            <label id="demo-checked-all-mail" for="select-all-mail" class="btn btn-default">
                                                <input type="checkbox" id="select_all" />
                                            </label>
                                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><i class="dropdown-caret"></i></button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" id="btnAll">Tümü</a>
                                                </li>
                                                <li><a href="#" id="btnNone">Hiçbiri</a></li>
                                            </ul>

                                        </div>

                                        <!--Refresh button-->
                                        <button id="demo-mail-ref-btn" data - toggle="panel-overlay" data-target="#demo-email-list" class="btn btn-default" type="button" onclick="location.href='@Url.Action("MBSend", "MBSend",new { Sorting_Order = ViewBag.SortingDate})'">
                                            <i class="demo-psi-repeat-2"></i>
                                        </button>

                                        <!--Dropdown button (More Action)-->
                                        <div class="btn-group dropdown">
                                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                                Diğer <i class="dropdown-caret"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" id="btnMailDelete">Sil</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 toolbar-right">
                                        <!--Pager buttons-->
                                        <span class="text-main">
                                            <strong>@Model.FirstItemOnPage - @Model.LastItemOnPage</strong>
                                            of
                                            <strong>@Model.TotalItemCount</strong>
                                        </span>
                                        <div class="btn-group btn-group">
                                            @*<button class="btn btn-default" type="button">
                                                    <i class="demo-psi-arrow-left"></i>
                                                </button>
                                                <button class="btn btn-default" type="button">
                                                    <i class="demo-psi-arrow-right"></i>
                                                </button>*@
                                            @*@Html.PagedListPager(Model, page => Url.Action("MBSend", new { page, pageSize = Model.PageSize }), PagedListRenderOptions.Minimal)*@
                                            @Html.PagedListPager(Model, Page_No => Url.Action("MBSend",
                                                new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder }), PagedListRenderOptions.Minimal)
                                        </div>
                                    </div>
                                </div>

                                <!--Mail list group-->
                                <ul id="demo-mail-list" class="mail-list pad-top bord-top">

                                    @foreach (var x in Model)
                                    {
                                        <li class="mail-starred">
                                            <div class="mail-control">
                                                <input type="checkbox" name="checkBox" class="checkBox" value="@x.Mailid">
                                            </div>
                                            <div class="mail-star"><a href="#"><i class="demo-psi-star"></i></a></div>
                                            <div class="mail-from">

                                                @foreach (var item in x.MailDetails)
                                                {
                                                    <a href="@Url.Action("MBSendMES", "MBSend", new { id=x.Mailid})">
                                                        @item.UserLogins2[0].Name @item.UserLogins2[0].Surname
                                                    </a>

                                                }
                                            </div>

                                            <div class="mail-time">
                                                @*@x.Mails[0].Date*@
                                                @x.Date.ToString("dd.mm.yyyy")
                                            </div>
                                            <div class="mail-attach-icon"></div>
                                            <div class="mail-subject">
                                                <a href="@Url.Action("MBSendMES", "MBSend",new { id=x.Mailid})">
                                                    @*@x.Mails[0].Title*@
                                                    @x.Title

                                                </a>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div class="modal fade" id="myModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                                                <h4 class="modal-title">Silme Onaylama</h4>
                                            </div>

                                            <div class="modal-body">
                                                <p>Silmek için emin misiniz ?</p>
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                                <button class="btn btn-primary" type="button" onclick="DeleteMailSend()">Confirm</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Mail footer-->
                        <div class="panel-footer clearfix">
                            <div class="pull-right">
                                <span class="text-main">
                                    <strong>@Model.FirstItemOnPage - @Model.LastItemOnPage</strong>
                                    of
                                    <strong>@Model.TotalItemCount</strong>
                                </span>
                                <div class="btn-group btn-group">
                                    @Html.PagedListPager(Model, page => Url.Action("MBSend", new { page, pageSize = Model.PageSize }), PagedListRenderOptions.Minimal)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
