﻿@model mailNiftymebis.Entities.UserLogin

@{
    /**/
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Login</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link href="~/Content/Login/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Login/css/nifty.min.css" rel="stylesheet">
    <link href="~/Content/Login/premium/icon-sets/icons/line-icons/premium-line-icons.min.css" rel="stylesheet">
    <link href="~/Content/Login/premium/icon-sets/icons/solid-icons/premium-solid-icons.min.css" rel="stylesheet">
    <link href="~/Content/Login/css/pace.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="~/Content/css/nifty.min.css" rel="stylesheet">
    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="~/Content/css/demo/nifty-demo-icons.min.css" rel="stylesheet">

    <!--=================================================-->
    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="~/Content/plugins/pace/pace.min.css" rel="stylesheet">
    <script src="~/Content/plugins/pace/pace.min.js"></script>
    <!--Demo [ DEMONSTRATION ]-->
    <link href="~/Content/css/demo/nifty-demo.min.css" rel="stylesheet">
    <!--Animate.css [ OPTIONAL ]-->
    <link href="~/Content/plugins/animate-css/animate.min.css" rel="stylesheet">
    <link href="~/Content/plugins/css-loaders/css/css-loaders.css" rel="stylesheet">

    <script src="~/Content/Login/js/pace.min.js"></script>
</head>
<body>
    <div id="container" class="cls-container">
        <div id="bg-overlay" class="bg-img" style="background-image:url(/Content/Login/img/bg-img-3.jpg)"></div>
        <div class="cls-content">
            <div class="cls-content-sm panel">
                <div class="panel-body" id="loader" style="display:none; position:absolute; left:45%; top:30%">
                    <div class="load4">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="panel-body" id="anagovde">
                    <div class="mar-ver pad-btm">
                        <h1 class="h3">Kullanıcı Girişi</h1>
                        <p>Hesabınızla giriş yapınız</p>
                    </div>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="usernamex" placeholder="Kullanıcı Adı" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="passwordx" placeholder="Parola" />
                        </div>
                        <input id="btnLogin" class="btn btn-primary btn-lg btn-block" type="submit" value="Giriş Yap" />
                    </form>
                </div>
                <div class="pad-all">
                    <a href="~/UserRegister/UserRegister" class="btn-link mar-lft">Yeni bir hesap oluştur</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/Login/js/jquery.min.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="~/Content/js/nifty.min.js"></script>
    <!--Demo script [ DEMONSTRATION ]-->
    <script src="~/Content/js/demo/nifty-demo.min.js"></script>
    <script src="~/Content/js/page/UserLogin.js"></script>

</body>
</html>